@use '../01-settings/colors' as *;
@use '../02-tools/mixins' as *;

@include generate-utility('background-color', $utilities-colors, 'bg-', false);

// Semantic Backgrounds
.bg-body { background-color: var(--bg-body); }
.bg-surface { background-color: var(--bg-surface); }
.bg-surface-hover { background-color: var(--bg-dropdown-hover); }
.bg-header { background-color: var(--bg-header); }
.bg-input { background-color: var(--bg-input); }
.bg-banner { background-color: var(--bg-banner); }

// Helpers
.shadow-sm { box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
.position-relative { position: relative; }
.position-absolute { position: absolute; }
