@use '../01-settings/colors' as *;

.bg-light { background-color: $color-gray-100 !important; }
.bg-white { background-color: $color-white !important; }
.bg-success { background-color: $color-success !important; }
.bg-danger { background-color: $color-error !important; }
.bg-primary { background-color: $color-primary !important; }

.shadow-sm { box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }
