@use '../01-settings/colors' as *;
@use '../01-settings/radius' as *;
@use '../02-tools/mixins' as *;
@use '../02-tools/breakpoints' as *;

.border { border: 1px solid var(--border-color); }
.dark\:border {
  @include dark-mode {
    border: 1px solid var(--border-color);
  }
}
.border-0 { border: 0; }
.border-2 { border: 2px solid var(--border-color); }
.border-top { border-top: 1px solid var(--border-color); }
.border-bottom { border-bottom: 1px solid var(--border-color); }
.border-start { border-left: 1px solid var(--border-color); }
.border-end { border-right: 1px solid var(--border-color); }
.border-transparent { border-color: transparent; }

@include generate-utility('border-color', $utilities-colors, 'border-', false);

// Responsive
@include media-breakpoint-up(lg) {
  .border-end-lg {
    border-right: 1px solid var(--border-color);
  }
}

.rounded { border-radius: $border-radius-base; }
.rounded-xl { border-radius: $border-radius-lg; }
.rounded-circle { border-radius: $border-radius-circle; }
.rounded-pill { border-radius: $border-radius-pill; }
