@use '../01-settings/colors' as *;
@use '../02-tools/mixins' as *;

.border { border: 1px solid var(--border-color); }
.dark\:border {
  @include dark-mode {
    border: 1px solid var(--border-color);
  }
}
.border-0 { border: 0; }
.border-top { border-top: 1px solid var(--border-color); }
.border-bottom { border-bottom: 1px solid var(--border-color); }
.border-start { border-left: 1px solid var(--border-color); }
.border-end { border-right: 1px solid var(--border-color); }
.border-transparent { border-color: transparent; }

@include generate-utility('border-color', $utilities-colors, 'border-', false);

// Responsive
@media (min-width: 992px) {
  .border-end-lg {
    border-right: 1px solid var(--border-color);
  }
}

.rounded { border-radius: 0.25rem; }
.rounded-circle { border-radius: 50%; }
.rounded-pill { border-radius: 50rem; }
