@use '../01-settings/spacing' as *;
@use '../01-settings/breakpoints' as *;

.w-25 { width: 25% !important; }
.w-50 { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }

.h-25 { height: 25% !important; }
.h-50 { height: 50% !important; }
.h-75 { height: 75% !important; }
.h-100 { height: 100% !important; }
.h-auto { height: auto !important; }

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }

@each $breakpoint, $width in $grid-breakpoints {
  @media (min-width: $width) {
    .w-#{$breakpoint}-25 { width: 25% !important; }
    .w-#{$breakpoint}-50 { width: 50% !important; }
    .w-#{$breakpoint}-75 { width: 75% !important; }
    .w-#{$breakpoint}-100 { width: 100% !important; }
    .w-#{$breakpoint}-auto { width: auto !important; }
  }
}

// Gap Utilities
@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: $value !important;
  }
  
  // Responsive Gaps
  @each $breakpoint, $width in $grid-breakpoints {
    @media (min-width: $width) {
      .gap-#{$breakpoint}-#{$key} {
        gap: $value !important;
      }
    }
  }
}
