@use '../01-settings/colors' as *;
@use '../02-tools/mixins' as *;

// Alignment
.text-center { text-align: center; }
.text-end { text-align: right; }
.text-start { text-align: left; }

@include generate-utility('color', $utilities-colors, 'text-', false);

// Semantic Colors
.text-body { color: var(--text-color); }
.text-muted { color: var(--text-muted); }

// Weights
.fw-bold { font-weight: 700; }
.fw-semibold { font-weight: 600; }
.fw-medium { font-weight: 500; }
.fw-normal { font-weight: 400; }

// Decoration
.text-decoration-none { text-decoration: none; }
.text-decoration-line-through { text-decoration: line-through; }

// Sizes
.fs-6 { font-size: 1rem; }
.small { font-size: 0.875rem; }
.h1 { font-size: 2.5rem; }
.h2 { font-size: 2rem; }
.h3 { font-size: 1.75rem; }
.h4 { font-size: 1.5rem; }
.h5 { font-size: 1.25rem; }
.h6 { font-size: 1rem; }
