@use '../01-settings/colors' as *;
@use '../02-tools/mixins' as *;

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: darken($color-primary, 10%);
    text-decoration: underline;
  }

  @include focus-ring;
}
