@use '../01-settings' as *;
@use '../02-tools/mixins' as *;

.banner {
  background-color: var(--bg-banner);
  color: var(--text-color);
  padding: $spacing-2 0;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-2;
  }

  &__title {
    font-weight: $font-weight-bold;
    color: var(--text-color);
    margin: 0;
  }

  &__price-info {
    text-align: right;
    
    small {
      display: block;
      font-size: $font-size-xs;
      color: var(--text-muted);
    }
    
    strong {
      font-size: $font-size-xl;
      color: var(--text-color);
    }
  }
}
