@use '../01-settings' as *;
@use '../01-settings/radius' as *;
@use '../02-tools/mixins' as *;
@use "sass:color";

.btn {
  @include flex-center;
  padding: $spacing-2 $spacing-4;
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.9;
    transform: translateY(-1px);
  }
  
  &-primary {
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: color.adjust($color-primary, $lightness: -5%);
    }
  }

  &-info {
    background-color: $color-cyan;
    color: $color-white;
    border-color: $color-cyan;
    &:hover {
      background-color: color.adjust($color-cyan, $lightness: -5%);
    }
  }

  &-outline-primary {
    background-color: transparent;
    color: $color-primary;
    border-color: $color-primary;
    
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &-gradient {
    background: linear-gradient(90deg, $color-primary 0%, $color-cyan 100%);
    color: $color-white;
    border: none;
    
    &:hover {
      background: linear-gradient(90deg, color.adjust($color-primary, $lightness: -5%) 0%, color.adjust($color-cyan, $lightness: -5%) 100%);
      color: $color-white;
      transform: translateY(-1px);
    }
  }

  &.w-100 {
    width: 100%;
  }
}
