@use '../01-settings' as *;
@use '../02-tools/mixins' as *;

.btn {
  @include flex-center;
  padding: $spacing-2 $spacing-4;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
