@use '../02-tools/mixins' as *;

.card {
  background-color: var(--bg-surface);
  border-radius: 22px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &--sidebar {
    border: none;
    box-shadow: none;
    background: transparent;
    
    @media (min-width: 992px) {
      background: var(--bg-surface);
    }
  }

  &--result {
    padding: 0;

    .card-header {
      display: grid;
      gap: 12px;
      margin-bottom: 12px;

      &__rating {
        @include flex-center;
        border-radius: 12px;
        color: var(--text-white);
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
      }

      &__location {
        align-items: center;
        color: var(--text-muted);
        display: flex;
        font-size: 0.875rem;
      }
    }
    
    .car-data {
      display: flex;
      flex-direction: row;
      gap: 6px;

      .car-data__photo {
        // grid-area: car-photo;
        width: 40%;
      }
      
      .car-data__name {
        display: flex;
        margin: 0;
        font-size: 14px;;
      }

      .car-data__category {
        font-weight: 600;
        margin: 0 0 4px;
      }

      .car-features {
        // grid-area: car-features;
      }
    }

    .card-body {
      padding: 16px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
