.header {
  background-color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
