@use '../01-settings' as *;
@use '../02-tools/mixins' as *;

.header {
  background-color: var(--bg-header);
  color: var(--text-color);
  padding: 1rem 0;
  transition: background 0.3s ease;
  
  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  &__logo {
    img {
      @include dark-mode {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__actions {
    align-items: center;
    color: var(--text-color); // Ensure text color is explicit
    display: flex;
    gap: 1.4rem;
    
    // Style for the action items (User, Help)
    .d-flex {
      transition: color 0.2s ease;
      
      &:hover {
        color: $color-primary;
      }
    }
  }
}
