@use '../01-settings' as *;

.skeleton {
  background-color: $color-gray-200;
  border-radius: $border-radius-md;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba($color-white, 0) 0%,
      rgba($color-white, 0.5) 50%,
      rgba($color-white, 0) 100%
    );
    transform: translateX(-100%);
    animation: skeleton-loading 1.5s infinite;
  }

  &--text {
    height: 1rem;
    margin-bottom: $spacing-2;
    width: 100%;

    &-sm {
      height: 0.75rem;
    }

    &-lg {
      height: 1.5rem;
    }
  }

  &--circle {
    border-radius: 50%;
  }

  &--rect {
    width: 100%;
    height: 100%;
  }

  [data-theme='dark'] &,
  html.dark & {
    background-color: $color-gray-800;

    &::after {
      background: linear-gradient(
        90deg,
        rgba($color-gray-900, 0) 0%,
        rgba($color-gray-900, 0.5) 50%,
        rgba($color-gray-900, 0) 100%
      );
    }
  }
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
