// Border Radius Tokens
$border-radius-sm: 0.125rem !default; // 2px
$border-radius-base: 0.25rem !default; // 4px
$border-radius-md: 0.375rem !default; // 6px
$border-radius-lg: 0.5rem !default; // 8px
$border-radius-xl: 0.75rem !default; // 12px
$border-radius-2xl: 1rem !default; // 16px
$border-radius-3xl: 1.375rem !default; // 22px (Used in Cards)

$border-radius-pill: 50rem !default;
$border-radius-circle: 50% !default;

// Default
$border-radius: $border-radius-base !default;
