// Spacing Scale
$spacing-0: 0 !default;
$spacing-1: 0.25rem !default; // 4px
$spacing-2: 0.5rem !default;  // 8px
$spacing-3: 0.75rem !default; // 12px
$spacing-4: 1rem !default;    // 16px
$spacing-5: 1.25rem !default; // 20px
$spacing-6: 1.5rem !default;  // 24px
$spacing-8: 2rem !default;    // 32px
$spacing-10: 2.5rem !default; // 40px
$spacing-12: 3rem !default;   // 48px
$spacing-16: 4rem !default;   // 64px
$spacing-20: 5rem !default;   // 80px
$spacing-24: 6rem !default;   // 96px
$spacing-32: 8rem !default;   // 128px
$spacing-40: 10rem !default;  // 160px
$spacing-48: 12rem !default;  // 192px
$spacing-56: 14rem !default;  // 224px
$spacing-64: 16rem !default;  // 256px

$spacers: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  8: $spacing-8,
  10: $spacing-10,
  12: $spacing-12,
  16: $spacing-16,
  20: $spacing-20,
  24: $spacing-24,
  32: $spacing-32,
  40: $spacing-40,
  48: $spacing-48,
  56: $spacing-56,
  64: $spacing-64
) !default;
