@use '../01-settings/breakpoints' as *;
@use '../02-tools/breakpoints' as *;
@use "sass:map";
@use "sass:math";

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @each $breakpoint, $max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $max-width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

@each $breakpoint in map.keys($grid-breakpoints) {
  $infix: if(sass($breakpoint == xs): ""; else: "-#{$breakpoint}");

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .col#{$infix} {
      flex: 1 0 0%;
    }

    .col#{$infix}-auto {
      flex: 0 0 auto;
      width: auto;
    }

    @for $i from 1 through 12 {
      .col#{$infix}-#{$i} {
        flex: 0 0 auto;
        width: math.percentage(math.div($i, 12));
      }
    }
  }
}
