@use '../01-settings/breakpoints' as *;
@use '../01-settings/spacing' as *;
@use '../02-tools/breakpoints' as *;

.container {
  width: 100%;
  padding-right: $spacing-4;
  padding-left: $spacing-4;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $max-width;
    }
  }
}
